.cart-layout {
    display: flex;
    gap: 30px;
    margin-top: 30px;
}

.cart-items {
    flex: 6;
    background: #fff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;

}

.order-summary {
    flex: 4;
    background: #fff;
    padding: 25px;
    border-radius: 10px;
    height: fit-content;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.cart-product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    background: #fafafa;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.product-info {
    display: flex;
    align-items: center;
    gap: 20px;
}

.product-info img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
}