.success-card {
    max-width: 500px;
    margin: 80px auto;

    background: #fff;
    padding: 40px;

    text-align: center;

    border-radius: 12px;

    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.08);
}

.success-icon {
    font-size: 60px;
    color: #28a745;
    margin-bottom: 15px;
}

.success-text {
    color: #666;
    margin-bottom: 25px;
}